* {
  box-sizing: border-box;
}
* {
   outline: 1px solid red !important;
}
.app{
  max-width: 50%;
  display: flex;
}
.title{
  font-weight: bold;
  background: #00ffe7;
  color: white;
  padding: 10px;
  max-width: 50%;
}
body{
margin: 20px 0px 0px 20px;
}

.screenshot img{
  border: 2px solid black;
}
.description{
  color: gray;
  margin-left: 50px;

}
