/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2016, 6:21:25 PM
    Author     : Peggy Fisher 
*/

#hbox {
    -fx-background-color: #336699;
    -fx-alignment: CENTER;
    -fx-padding: 15, 12, 15, 12;
    
}

#vbox {
    -fx-background-color: #336699;
    -fx-alignment: CENTER;
    -fx-padding: 15,12,15,12;
}

#textstyle {
    -fx-font: 30px "Arial";
    -fx-fill: white;
      
}